@import 'bootstrap/dist/css/bootstrap.css';

body {
  background-color: rgba(0, 255, 4, 0.546);
}

.profile-img {
  border-radius: 100%;
  width: 80px;
}

.profilePage-img {
  border-radius: 100%;
  width: 400px;
}
