@import 'bootstrap/dist/css/bootstrap.css';

body {
  background: linear-gradient(to right, lightgreen, lime);
  margin: 0;
  height: 100vh;
  background-attachment: fixed;
}

.profile-img {
  border-radius: 100%;
  width: 80px;
}

.profilePage-img {
  border-radius: 100%;
  width: 400px;
}

.navbar-gradient {
  background: linear-gradient(to right, lightblue, blue);
}
